<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1 style="text-align: center">Some error occured</h1>
    <p style="text-align: center">We're working on fixing this, sorry for the inconvenience!</p>

    <%- include('includes/end.ejs') %>